databases:
  - name: ecommerce
    databaseName: ecommerce
    user: ecommerce
    plan: free
services:
  - type: web
    plan: free
    name: ecommerce
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false