
  <h1>  Orders History</h1>
    <% @orders.each do |order| %>
        <p>
        Order ID: <%= order.id %>,
        Placed on: <%= order.created_at.to_formatted_s(:long) %>
    </p>
        <% end %>
        
        <% if current_user.is_admin? %>
        <%= link_to "New Order", products_path, class: 'btn btn-primary'%>
        <% else %>
        <%= link_to "New Order", products_path, class: 'btn btn-primary', disabled: true %>
        <% end %>   
