<h1 style="text-align: center; margin-top: 20px;">New address</h1>

<%= render "form", address: @address %>

<br>

<div style="text-align: center; margin-top: 20px;">

  <%= link_to "Back to addresses", :back %>
</div>
