/*
h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  

  label, input, textarea, select {
    display: block;
    margin-bottom: 10px;
  }
  

  .errors {
    color: red;
  }
  
 
  input[type="submit"] {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  

  input[type="checkbox"] {
    margin-right: 5px;
  }
  */