/* Add this CSS code to your existing stylesheet or create a new one */

/*
h2 {
    color: #007bff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  

  
  a {
    text-decoration: none;
    color: #007bff; 
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .btn {
    padding: 6px 12px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .btn-outline-success {
    color: #28a745;
    border-color: #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff;
  }
  

*/
  